	<div class="row col-md-8 col-lg-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
		<div class="col-md-6 col-lg-6 col-sm-6">
		    <div class="input-group" id="start">
		        <input class="form-control" placeholder="Start" name="startTime" id="startTime" ng-model="startTime" required />
		        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    </div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6">
		    <div class="input-group" id="end">
		        <input class="form-control" placeholder="End" name="endTime" id="endTime" ng-bind="endTime" required />
		        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    </div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6">
		    <div class="input-group" id="">
		    	<select class="form-control" ng-model="filter.Campus">
		    		<option value="ASM">ASM</option>
		    		<option value="ANGGREK">Anggrek</option>
		    		<option value="SYAHDAN">Syahdan</option>
		    	</select>
		        <span class="input-group-addon">Filter</span>
		    </div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6">
		    <div class="input-group" id="">
		        <input class="form-control" placeholder="Filter Room" ng-model="filter.RoomName" required />
		        <span class="input-group-addon">Filter</span>
		    </div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6">
		    <div class="input-group" id="">
		        <input class="form-control" placeholder="Filter Matkul" ng-model="filterClass" required />
		        <span class="input-group-addon">Filter</span>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-lg-5 col-sm-5" ng-repeat="(key,val) in RoomTransaction | toArray:false | filter:filter:strict | filter:filterClass">
		   	<h2> {{val.RoomName}} </h2>
		   	<div ng-repeat="val2 in val.StatusDetails.ArrayOfRoomTransactionStatus track by $index" >
		   		<hr ng-show="$index % 7 == 0" style="margin:10px 0px;border-bottom: 1px solid black">
		   		<div ng-repeat="val3 in val2.RoomTransactionStatus" ng-show="typeof(val3) == 'array'" ng-hide=" isObject(val2.RoomTransactionStatus) "> {{ $index % 7 + 1 }} : {{ val3.Description }} <span ng-show="val3.Assistant != null" class="bold">({{val3.Assistant}})</span> </div>
		   		<div ng-hide=" !isObject(val2.RoomTransactionStatus) || isObjectEmpty( val2.RoomTransactionStatus ) ">
		   			<span style="strong">{{ $index % 7 + 1 }}</span> : {{ val2.RoomTransactionStatus.Description }}
		   			<span class="bold" ng-show=" val2.RoomTransactionStatus.Assistant != null ">({{val2.RoomTransactionStatus.Assistant}})</span>
				</div>
		   	</div>
		</div>
	</div>