
<style type="text/css">
	 .on-settings-edit{
	 	display: block;
	 	width: 100%;
	 	height: 100%;
	 	min-width: 60px;
	 	min-height: 35px;
	 }
	 .on-settings-edit:focus{
	 	border: 1px solid rgba(115,135,156,0.5);
	 	padding: 3px;
	 }
	 .on-settings-edit-empty{
	 	border: 1px solid rgba(255,51,51,0.5);
	 	padding: 3px;
	 }
</style>



<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Settings</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table class="table table-bordered" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click the value column to Edit">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th>Unit</th>
					</tr>
				</thead>
				<tbody>
				
					<tr>
						<td>Campus Code</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['campus-code']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings['apps']['campus-code']"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true"
					        >
					 	</span></td>
						<td></td>
					</tr>

					<tr>
						<td>Shutdown Countdown</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['countdown']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings.apps.countdown"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true">
					 	</span></td>
						<td>Second</td>
					</tr>
				
					<tr>
						<td>Shutdown Message</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['message']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings.apps.message"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true">
					 	</span></td>
						<td></td>
					</tr>
				
					<tr>
						<td>Shutdown Delay</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['shutdown-gap']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings['apps']['shutdown-gap']"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true">
					 	</span></td>
						<td>Minutes</td>
					</tr>
				
					<tr>
						<td>Wakeup Delay</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['wakeup-gap']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings['apps']['wakeup-gap']"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true">
					 	</span></td>
						<td>Minutes</td>
					</tr>
				
					<tr>
						<td>Transaction Gap</td>
						<td>
						<span ng-class="{'on-settings-edit-empty': dataSettings['apps']['transaction-gap']=='' }" class="on-settings-edit" contenteditable="true"
					        ng-model="dataSettings['apps']['transaction-gap']"
					        strip-br="true"
					        strip-tags="true"
					        select-non-editable="true">
					 	</span></td>
						<td>Transaction</td>
					</tr>

				</tbody>
			</table>
			<div class="alert alert-danger" ng-hide=" editErrorMessages.length == 0 ">
		        <ul>
		        	<li ng-repeat="val in editErrorMessages">{{ val[0] }}</li>
		        </ul>
		    </div>
			<div ng-show=" isSettingEdited ">
				<button class="btn btn-success" ng-click="submitSetting()" style="color:white !important">Submit</button>
				<button class="btn btn-primary" ng-click="resetSetting()">Reset</button>
			</div>

		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Histories</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="loader" style="display: none;">
						<img src="http://attention.lcas/assets/images/loading.gif">
					</div>
					<table class="table table-striped table-hover" id="table-cpm">
						<thead>
							<tr>
								<th>Message</th>
							</tr>
						</thead>
						<tbody id="schedules" align="center">
							<tr ng-repeat="(key,val) in dataHistories">
								<td ng-show=" !val.message.startsWith('exception') " ng-bind="val.message"></td>
								<td ng-show=" val.message.startsWith('exception') ">System exception happened with ID {{val.id}}, click  <a href='{{cpmurl}}get/histories'>here</a> to see more.</td>
							</tr>
							<tr>
								<td><a href='{{cpmurl}}get/histories'>For Complete Log, Click Here</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Status</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="loader" style="display: none;">
						<img src="http://attention.lcas/assets/images/loading.gif">
					</div>
					<table class="table table-striped table-hover" id="table-cpm">
						<thead>
							<tr>
								<th>Room</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="schedules" align="center">
							<tr ng-repeat="(key,val) in dataSettings.control.room">
								<td>{{ val.name }}</td>
								<td>
									<input type="checkbox" class="switch" data-on-color="success" data-size="mini" name="my-checkbox" cpm-class="{{val.name}}" ng-checked=" val.oncontrol == '1' ">
								</td>
								<td><a id="ASA1301Manual" style="width: 100px;" onclick="manual('ASA1301')" class="btn btn-xs btn-danger" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> shutdown</a><img id="ASA1301Loader" class="loader" style="display: none;" src="http://attention.lcas/assets/images/loading1.gif" width="15px"></td>
							</tr>

						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>