@font-face {
   font-family: openSans;
   src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
   font-family: openSans;
   src: url(../fonts/OpenSans-Light.ttf);
   font-weight:200;
}
@font-face {
   font-family: openSans;
   src: url(../fonts/OpenSans-Bold.ttf);
   font-weight:bold;
}

body{ font-family: openSans; }
.active{ font-weight: bold !important; }
.line-chart-menu{ width: 100%; }
.background{
	position: fixed;
	z-index: -1;
	background: url('../images/alsut.png');
	background-size: cover;
	width: 100%;
	height: 100%;

  -webkit-filter: grayscale(50%) blur(7px);
	-moz-filter: grayscale(50%) blur(7px);
	-o-filter: grayscale(50%) blur(7px);
	-ms-filter: grayscale(50%) blur(7px);
	filter: grayscale(50%) blur(7px);
}
.login{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#table-cpm th{ text-align: center; }
#loader{
  position: absolute;
  top: 80%;
  left: 50%;  
  transform: translate(-50%, 0%);
}
.switcher {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
}
.switcher-bullet:before {
  position: absolute;
  content: "off";
  top: -3px;
  left: -25px;
  color: lightgrey;
  font-weight: bolder;
}
.switcher-bullet {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px solid #999;
}
.switcher-bullet:after {
  position: absolute;
  content: "on";
  top: -3px;
  left: 20px;
  color: lightgrey;
  font-weight: bolder;
}
.switcher.inactive {
  background-color: #C9302C;
  border: 1px solid #AC2925;
}
.switcher.active {
  background-color: #449D44;
  border: 1px solid #398439;
}


.inactive > .switcher-bullet { left: 30px; }
.active > .switcher-bullet { left: 0; }
ul.dropdown-menu{ min-width: 150px !important; }
.text-muted{ padding: 10px; }
.navbar-brand{ min-width: 225px; }

@media (max-width: 768px) {
    .text-muted{ color: #fff; }
}

/*Chat*/
.chat-nav{
  position: fixed;
  width: 200px;
  height: calc(100% - 60px);
  top: 60px;
  right: 0;
  z-index: 9999;

  background-color: #eee;
  border-left: 3px solid #00796B;
}
@media(max-width: 1200px){
  .chat-nav{
    top: 50px;
    height: calc(100% - 50px);
  }
}

#treeview{
  overflow-y: auto;
  height: 100%;
}
#chat-users{cursor: pointer;}
.chat-nav-button{
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 0;
  padding: 5px 8px;
  margin-left: -30px;
  border-radius: 5px 0 0 ;
  background-color: #00796B;
  cursor: pointer;
}
.chat-nav-button:hover{ color: white; }
.indicator{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
  background-color: #00796B;
}
.chat-room{
  position: fixed;
  width: 200px;
  height: 225px;
  bottom: 0;
  background-color: #eee;
  z-index: 998;
  right: 230px;
}
.chat-room-header{
  position: fixed;
  width: 200px;
  height: 25px;
  padding: 5px;
  margin-top: -25px;
  color: white;

  background-color: #00796B;
}
.chat-room-body{
  overflow-y: scroll;
  height: 89%;
}
.chat-messages span{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.chat-messages{
  clear: both;
  margin: 2px 2px 10px 2px;
}
.user-disconnected{
  text-align: center;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 10pt;
  clear: both;
}
.chat-room-footer{
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 5px 2px 5px;
}
.chat-room-footer > .form-control{ margin: 0 !important; }
.chat-input{
  width: 100%;
  border: 0;
  background-color: transparent;
}
#hidden-chat{
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 5px 0 0 ;
  border-right: 2px solid white;
  background-color: #00796B;
  padding: 4px 6px;
  bottom: 0;
  right: 430px;
  z-index: 999;
  color: white;
  cursor: pointer;
}
#hidden-chat:hover{ background-color: #004940; }
#hidden-chat > table{
  position: absolute;
  bottom: 25px;
  color: black;
}
#hidden-chat > table tr{
  background-color: #00796B;
  border-bottom: 1px solid white;
  color: white;
}
#hidden-chat > table tr:hover{ background-color: #004940; }
#hidden-chat > table tr td{ padding: 2px; }
/*Chat*/
/*Master*/
.btn-card{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
}
/*Master*/

.collapse-menu{ padding: 0; }
.collapse-menu li{
    min-height: 20px;
    padding: 15px 15px 15px 40px;
    list-style: none;
}
.collapse-menu .active{ background-color: #19a094; }
.collapse-menu li:hover{ background-color: #00796B; }
.collapse-menu li a{
    color: #fff;
    text-decoration: none;
}
/*Calibration*/
#calibContent .col-md-12{
  border: 1px solid #ccc;
  border-bottom: none;
}
#calibContent .col-md-12:last-child{ border-bottom: 1px solid #ccc; }

#calibContent > div > div > div{ padding: 5px; }
#calibContent > div > div > div:nth-child(2){ border-left: 1px solid #ccc; }
#calibContent > div > div > div:nth-child(3) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.calibData{ cursor: pointer; }
.limeBackground{ background-color: #CDDC39; }
.greenBackground{ background-color: #4CAF50; }
#calibLoader{
    width: 20px;
    margin: 30px 30px 30px 0;
}
.downloadTemplate{ margin: 35px 0 0 10px; }
.downloadTemplate a{
  text-decoration: none;
  font-weight: bold;
}
.bold{ font-weight: bold !important; }
.no-margin{ margin: 0 !important; }
#table_broken tbody tr,
#table_asset tbody tr{
  cursor: pointer;
}
/*Calibration*/

/*Antonius*/
.menu_section h3 {
  padding-top: 90px;
}
/*End - Antonius*/